$main-color:#287243;
$main-color:#1A512E;
$second-color:#970009;



.gradient{
  background-image: linear-gradient(to right, #970009, #DF0113);
  transition: all .2s linear;
  box-shadow: 1px 5px rgb(214, 104, 104);
  border: none;
  color:#fff;


  font-family: 'PT Sans',sans-serif;

  &:hover{
    color:#e6e6e6;
  }

  &:active{
    color:#999999 !important;
    box-shadow: 0 2px rgb(167, 90, 90);
    transform: translateY(3px) translateX(1px);
  }

  &:hover{
    background-image: linear-gradient(to right, #880009, #d10011);
  }

  &:active{
    background-image: linear-gradient(to right, #770008, #ad000e);
  }
}

body{
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  color: #000;
  position: relative;
  overflow-x: hidden;
}

.no-scroll{
  overflow: hidden;
}

.section{
  margin-bottom: 100px;
  &.products{
    margin-bottom: 0;
  }
  &.aboutSection{
    margin-bottom: 0;
  }
}

.section_title{
  font-size: 50px;
  font-weight: 700;
}

a{
  text-decoration: none;
}


.lg-backdrop {
  background: radial-gradient(rgba(#fff, .3),rgba(0, 0, 0, .8));
  backdrop-filter: blur(10px);
}

img.lg-object{
  max-height: 60% !important;
}

.captcha{
  display: none;
  margin-bottom: 10px;
  &.show{
    display: block; 
  }
}
//Navigation bar
.navbar{
  --bs-navbar-padding-y: 0;
  height:70px;
  z-index: 100;

  background-color: rgba($color: #000000, $alpha: .6) !important;

  font-size: 20px;
  font-family: 'PT Sans', sans-serif; //Какого хуя оно не перезаписывается 
}

//Logo
.navbar-brand{
  font-family: 'Varela Round', cursive;
  font-weight: 400;
  font-size: 40px;
  &::after{
    content:"TM";
    font-size: 10px;
  }
}

.navbar-nav{
  margin-left: auto;
}

//Navigation element
.nav-item{
  padding: 0 15px;
  font-family: "PT Sans",sans-serif !important;
}

//Pricelist button
.btn-pricelist{
  height:80px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /*
    border-radius: 0 0 10px 10px;
  border-width: 0;
  
  position: relative;

  transition: all .2 linear;

    >span{
      color: #ececec;
    }
  }

  &::after{
    content:"";
    width: 100%;
    height: 105%;

    border-radius: 0 0 10px 10px;
    background-color: #a1000b;

    position: absolute;
    top:0;
    left: 5px;
    z-index: -1;
  }
  .show{
    display: block;
  }
  */

  //Text
  >span{
    font-size: 16px;
  }

  //Icon
  >.bi-tags-fill{
    margin-top: 10px;
    fill: #fff;
  }
  
  &:hover{
    >.bi-tags-fill{
      fill: #e6e6e6;
    }
  }
  
  &:active{
    >.bi-tags-fill{
      fill: #999999;
    }
  }

}


//Dropdown triangle
.btn-nav--dropdown{
  margin-left: 10px !important;
  max-width: 50px;
  max-height:50px;
  background-color: transparent;
  border-color: transparent !important;
  &:hover{
    background-color: rgba(0, 0, 0, .3);
  }
  &:active{
    background-color: rgba(0, 0, 0, .5);
  }
}


.intro{
  padding-top: 70px !important;
  width: 100%;
  height:100vh;
  max-height:1500px;
  position: relative;
  background: url("../img/gears-solid.svg") no-repeat right 0 top 0;
  overflow: hidden;
}

.intro-basis{
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.intro-title{
  font-family: 'Oswald';
  font-size: 60px;
  line-height: 1.2;
}

.intro-subtitle{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

.img-intro{
  display: none;
  z-index: 5;
  width: 700px;
  position: absolute;

  right:0;
  bottom: 60px;
}

/*
.intro-background{
  z-index: 2;
  position: absolute;
  right:0;
  top:0;
  pointer-events: none;
}
*/




// Swiper intro

.swiper{
  display: none;
  &.swiper-container-initialized {
    display: block;
  }
}


.slider--intro_text{
  height: auto;
  width: 260px;
  pointer-events: none;
}

.intro-basis{
  position: relative;
}

.slider--intro_images{
  margin-left: auto; 
  margin-right: 0;
  width:60%;
  max-height: 60%;
  
  z-index: 10;
  //margin: auto 0;
  pointer-events: none;
}

.slider--intro_images::before{
    content:"";
    display: none;
    width:6px;
    height:100%;

    position:absolute;
    top:0;
    z-index: 3;

    left:0;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}



.slider--intro_image{
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}





/*
.intro{
  padding-top: 160px;
  width: 100%;
  height:100vh;
  max-height:1500px;
  position: relative;
  //background: url("../img/gears-solid.svg") no-repeat right -350px bottom -350px;
}

.intro-basis{
  position: relative;
  height: 100%;
}

.intro-title{
  font-family: 'Oswald';
  font-size: 60px;
  line-height: 1.2;
}

.intro-subtitle{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

.img-intro{
  display: none;
  z-index: 5;
  width: 700px;
  position: absolute;

  right:0;
  bottom: 60px;
}

.intro-background{

  z-index: 2;
  position: absolute;
  right:0;
  top:0;
  pointer-events: none;
}








// Swiper intro

.slider--intro_text{
  height: auto;
  width: 260px;
  pointer-events: none;
}

.intro-basis{
  position: relative;
}

.slider--intro_images{
  width: 50%;
  position: absolute;
  right: 10%;
  bottom:10%;
  z-index: 10;
  margin: auto 0;
  pointer-events: none;
}

.slider--intro_images::before{
    content:"";
    display: block;
    width:6px;
    height:100%;

    position:absolute;
    top:0;
    z-index: 3;

    left:0;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}



.slider--intro_image{
  width: 90%;
  height: auto;
}
*/

.about{
  color: #fff;
  //padding-bottom: 30px;
  position: relative;
  
  background: $main-color url("../img/angle-double-down.svg") no-repeat left -400px top 0;
  
}

.about--medium{
  display: none;
}

.about-brand{
  font-family: 'Varela Round', cursive;
  font-weight: 400;
  font-size: 70px;
  
}

.about-description{
  font-weight: 200;
  font-size: 25px;
  >span{
    font-weight: 400;
  }
}

.about_svg.top{
  display: block;
}


//Benefits

.benefits{
  background-color: #fff;
  >.row{
    margin: 0;
    padding: 20px 0;
  }
}

.ben-title{
  font-size: 40px;
  font-weight: 400;
}

.ben-item{
  width: 25%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ben-icon{
  width: 100px;
  margin-bottom: 20px;
  transition: .3s all;
  &:hover{
    scale: 1.15;
  }
  img{
    width: 100%;
    display: block;
  }
}


.ben-text{
  font-size: 20px;
  color: #000;
  text-align: center;
}


.product_block-title{
  font-size: 40px;
}

.product{
  padding: 100px 0;
}

.product_block-description{
  margin-bottom: 30px;
  font-weight: 200;
  &.p1{
    text-align: right;
  }
  
  &.p2{
    text-align: left;
  }

}

.product_more-info{
  font-size: 20px;
  padding: 10px 20px;

}

.product-1{
  background: url("../img/truck.svg") no-repeat left 50px bottom -1px;
}

.product-2{
  background: url("../img/auto.svg") no-repeat right 100px bottom -1px, $main-color;
  color: #fff;
}

.product__slider{
  .slick-dots{
    margin-top: 20px;
  }

}

.accordion{
  display: none;
}

.accordion-item{
  border: none;
}

.accordion-button:focus{
  box-shadow: none !important;
}

.accordion-button{

  background-color: rgba($main-color, .1);

  &:not(.collapsed){
    color: #fff;
    background-color: rgba($main-color, .85);
    &::after{
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      transform: rotate(180deg);
    }
  }

  &.licht{
    background-color: #fff;
    &:not(.collapsed){
      background-color: rgba($main-color, .8);
    }
  }
}


.slider_white{
  .slick-dots{
    button{
      background: rgba(#fff, 0.3);

    }
    li.slick-active button {
      box-shadow: 0 0 0 5px rgba(#fff, .6);
      background: rgba(#fff, 1);
		}
  }
}


//.slick-slider{
//  display: none;
//  &.slick-initialized{
//    display: block;
//  }
//}

.reviews{
  padding-bottom: 100px;
  padding-top: 100px;

  background:  url("../img/star-half.svg") no-repeat left;

}

.review{
  background-color: #EDEDED;
  border-radius: 5px;
  padding-bottom: 15px;
  border: 1px solid #000;
  position: relative;
  padding: 50px 10px 10px;
  display: none;
  &.slick-slide{
    display: flex;
  }
}

.review_photo{
  display: block;
  width: 70%;
  border-radius: 50%;
  background-color: #d4d4d4;
  margin-left:0;
  margin-top:-100px;
  margin-bottom: 10px;
}

.splitter{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 2px;
  background-color: $main-color;
  opacity: .4;
  border-radius: 2px;
}

.review_name{
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}

.review_description, .review_content{
  font-size: 20px;
  font-weight: 200;
}

.review_content{
  font-weight: 300;
  font-size: 18px;
}

.btn-reviews{
  padding: 15px 70px;
  font-size: 30px;
  font-weight: 400;
}

.slider-reviews{
  .slick-list{
    padding: 50px 0;
  }
  
  
  .slick-slide {
    margin: 0 100px;
  }
  
  
  .slick-list {
    margin: 0 0px;
  }
  
}

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	
	list-style-type: none;
	
		li {
			margin: 0 0.25rem;
		}
	
		button {
			display: block;
			width: 0.75rem;
			height: 0.75rem;
			padding: 0;
			
			border: none;
			border-radius: 50%;
			background: #888888;
			
			color:transparent;
      font-size: 0;

      cursor: pointer;

      transition: background .2s linear, box-shadow .2s linear; 
		}
	
		li.slick-active button {
      box-shadow: 0 0 0 5px rgba($main-color, .1);
      background: rgba($main-color, .8);
		}
	
}

.already{
  color: #a0a0a0;
  text-align: center;
  margin: 30px auto 0;
}
.contacts{
  background:  url("../img/map.svg") no-repeat bottom -200px right -380px, $main-color;
  padding: 50px 0 200px;
  >.container>.section_title{
    color:#fff;
    margin-bottom: 50px;
  }
}

.map{
  background-color: #bbb;

}

.contacts_content{
  padding: 15px;
  background: rgba(255, 255, 255, 1) url("../img/blob-haikei.svg") no-repeat top 0 left 0;
  background: rgba(255, 255, 255, 1);
  background-size: 100% 100%;
}

.contacts_title{
  line-height: 1.3;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.contacts_description{
  line-height: 1.8;
  font-size: 20px;
  a{
    color: rgba($main-color, .9);
  }
}


.contact_button{
  background-color: $main-color;
  border-radius: 0 10px 10px 0;

  width: 50px;
  height: 50px;

  position: fixed;
  top: 50%;
  left: -15px;
  z-index: 1000;
  transform: translateY(-50%);
  transition: all .15s linear;

  &:hover{
    left:0;
  }

}

.side_button{
  display: flex;
  flex-direction: column;
  img{
    display: block;
    width: 70%;
    transform: translateY(-50%);
    margin-top: 50%;
    margin-right: 5px;
    margin-left: auto;

  }
}

//машинка
.request-form{
  z-index: 50;
  //border-radius: 10px 10px 5px 5px;
  height: auto;
  align-self:flex-start;
  padding: 0;
  transition: all .3s linear;
  &.jump{
    &:hover{
      margin-top: -70px;
    }
  }
}

.form-header{
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 20px 30px;
  background-color: $main-color;
  &>.btn-close{
    display: none;
  }
}

.form-title{
  font-weight: 700;
  font-size: 32px;
}

.form-subtitle{
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
}


.form-content{
  background-color: #ECECEC;
  padding: 30px 15px 10px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(#ececec, .9);
}

.form-group{
  margin: 0 0 30px;
}

.input{
  font-size: 20px;
  display: block;
  width: 100%;

  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-left: 40px;

  transition: all .2s linear;

  &::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, .4);
    opacity: 1; /* Firefox */
  }

  &:focus{
    outline: none;
    border-color: rgba(0, 0, 0, .5);
    &::placeholder{
      color: rgba(0, 0, 0, .3);
    }    
  }

}

.input-name{
  background: url("../img/person.svg") left 10px top 5px no-repeat;
}

.input-tel{
  background: url("../img/call.svg") left 10px top 5px no-repeat;
}


.input-textarea{
  background: url("../img/message.svg") left 10px top 5px no-repeat;
  resize: none;
  min-height: 1em;
  max-height: 10em;
  overflow: hidden;
  transition: all .2s linear;
}


.btn-form-submit{
  font-size: 28px;
  padding: 10px 0;
  width: 100%;
  transition: all .2s linear;

}

.about_form{
  margin-top: -20px;
}

.highlighted_input{
  border-bottom: 1px solid red;
  background-color: #edc0c0;
  border-radius: 3px;
}

.wrongNumber{
  display: none;
  color: #ff2323;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -15px;
  &.show{
    display: block;
  }
}
.footer{
  font-size: 16px;
  color:rgba(255, 255, 255, .7);
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
}
.modal{
  display: none;

  position: fixed;
  top:0;
  left:0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .9);
  &.show{
    display: block;
  }
}

.modal_inner{
  display: flex;
  justify-content: center;
  min-height: 100%;

}

.modal_content{
  margin: auto;

  position: relative;

  opacity: 0;
  transform: translateY(-100px);
  transition: all .2s ease-out;
}

.form_modal{
  align-self: center;
  max-width: 450px;
  border-radius: 0;
  position: relative;
  &>.form-header{
    border-radius: 0;
    &>.btn-close{
      display: block;
      position: absolute;
      right:5px;
      top:5px;
    }
  }
}

.thanks{
  align-self: center;
  background-color: #fff;
}

.thanks_header{
  padding: 50px;
  width: 100%;
  background-color: $main-color;
  position: relative;
  &>.btn-close{
    position: absolute;
    right: 15px;
    top:15px;
  }
}

.thanks_title{
  font-weight: 400;
  color:$main-color;
  padding: 36px;
}
@media(max-width:1399px){
  .slider-reviews{
 
    .slick-slide {
      margin: 0 60px;
    }
    
    
    .slick-list {
      margin: 0 0px;
    }
    
  }
}

@media(max-width: 1199px){
  .intro{
    padding-top: 130px;
  }

  .intro-background{
    width: 50%;
    right: 0;
    top:0;
  }

  .slider--intro_images::before{
    display: none;
  }


  //About

  .about-description{
    font-size: 21px;
  }


  //Products

  .product_block-description{
    font-size: 21px;
  }


  //Reviews

  .slider-reviews{
    
    .slick-slide {
      margin: 0 40px;
    }
    
    
    .slick-list {
      margin: 0 0px;
    }
    
  }
  

}


@media (max-width: 991px) {
  .navbar-collapse {
    background-color: rgba($color: #000000, $alpha: .8);
    border-radius: 0 0 10px 10px;
  }

  .btn-pricelist{
    box-shadow: none;
    border-radius: 10px 0 0 10px;
    &::after{
      display: none;
    }
  }

  .nav-item.dropdown{
    padding: var(--bs-nav-link-padding-y) 15px;
  }

  .nav-links{
    display: -webkit-box;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .navbar-nav{
    margin-left: 0;
    &:nth-child(1){
      margin: 20px 0;
      margin-right: auto;
      width:50%;
    }
    &:nth-child(2){
      width:50%;
    }
  }


  //Intro

  .intro{
    padding-top: 100px;
  }

  .intro-title{
    font-size:45px;
  }

  .intro-subtitle{
    font-size: 23px;
  }

  .intro-background{
    display: none;
  }

  .intro-basis{
    justify-content: space-evenly;
  }

  .slider--intro_images{
    width: 75%;
  }



  //Form

  //.form-header{
  //  //border: 3px solid #fff; 
  //  //border-radius: 0;
  //}

  //.about_form{
  //  //margin-top: 0;
  //}

  
  //About

  .about{
    background-position: center;
  }

  .about--medium{
    display: block;
    margin-top: 100px;
    .about-description{
      font-size: 21px;
    }
  }

  .about-text{
    display: flex;
    flex-direction: row;
    .about-brand{
      display: none;
    }
    
  }

  .about-description{
    span{
      display: none;
    }
  }


  .about_svg{
    &.top{
      display: block;
    }
  }

  //Product
  
  .product_block-description{
    text-align: center !important;
  }

  .row.prod{
    flex-direction: column-reverse;
  }

  //Reviews

  .reviews{
    background-size: 100% auto;
    background-position: left 0 bottom 50%;
  }

  .review {
    padding: 50px 15px 15px;
  }

  .slider-reviews{
    
    .slick-slide {
      margin: 0 20px;
    }
    
    
    .slick-list {
      margin: 0 -20px;
    }
    
  }
  //Contacts

  .contacts{
    background-size: 110% 110%;
    background-position: left 10% top 10%;
  }

  .contacts_description{
    font-size: 18px;
  }

  .contact_button{
    display: none;
  }

}

@media(max-width:767px){
  //Intro

  .intro-subtitle{
    font-weight: 200;
  }

  .slider--intro_text{
    width: 220px;
  }

  .slider--intro_images{
    width: 100%;
    .swiper-slide{
      display: flex;
    }
  }

  .slider--intro_image{
    margin: 0 auto;
  }


  //About

  .about--medium{
    display: none;
  }

  .about-description{
    font-size: 20px;
  }

  //Benefits

  .ben-item{
    width: 50%;
    padding-bottom: 30px;
    &:nth-child(n+2){
      padding-bottom: 0;
    }
  }


  //Products

  .product__slider{
    padding: 40px 0 20px;
  }

  .product{
    padding:50px;
  }

  .product_block-description{
    font-size: 20px;
    text-align: center !important;
    margin-bottom: 20px;
  }

  .product_block-title.main{
    display: none;
  }

  .product_text{
    display: none;
    background: rgba($main-color, .04);
    box-shadow: -20px 20px rgba(0,0,0,.15);
    padding: 25px;
  }

  .accordion{
    display: block;
  }

  .prod>.product_text{
    background: rgba(#fff, .07);
    box-shadow: 20px 20px rgba(#fff,.15);
    padding: 25px;
  }

  .product{
    background-image: none !important;
  }


  //Contacts

  .contacts_description{
    font-size: 20px;
  }
}

@media(max-width: 577px){
  .section_title{
    font-size: 30px;
  }


  //Intro

  .intro-title{
    font-size: 40px;
  }

  .slider--intro_text{
    width: 180px;
  }

  .intro-subtitle{
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .slider--intro_images{
    bottom:30px;
    right:0;
    width: 100%;
    
  }

  //Form

  .form-title{
    font-weight: 700;
    font-size: 24px;
  }
  
  .form-subtitle{
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
  }
  
  
  .form-group{
    >input::placeholder {
      font-size: 16px;
    }
    
    >textarea::placeholder{
      font-size: 16px;
    }
  }

  

  //About

  .about-description{
    font-size: 18px;
  }

  .ben-text{
    font-size: 15px;
  }


  //Products
  
  .product-1, 
  .product-2{
    background-size: 100% auto;
    background-position: left 0 bottom 0;
  }

  .product_block-title{
    font-size: 28px;

  }

  .product_block-description{
    font-size: 18px;
  }

  //reviews

  .slider-reviews{
    
    .slick-list {
      margin: 0 100px;
    }
    
  }

  //Contacts

  
  .contacts{
    padding-bottom: 70px;
  }

  .contacts_description{
    font-size: 18px;
  }
}

@media(max-width:476px){
    //Intro

    .intro-basis{
      justify-content: space-around;
    }

    .intro-text{
      display: flex;
      flex-direction: column-reverse;
    }

    .intro-title{
      flex-direction: column;
      align-items: flex-start;
      font-size: 36px;
      
    }

  
    .slider--intro_text{
      width: 160px;
      text-align: left;
    }
  
    .intro-subtitle{
      text-align: right;
      margin-top: 10px;
      font-size: 17px;
    }



    //About us

    .about-description{
      font-size: 15px;
    }

    //Products

    .product_block-description{
      font-size: 13px;
    }

    //reviews

    .review_content{
      font-size: 16px;
    }

    .slider-reviews{
      
      .slick-list {
        margin: 0 40px;
      }
      
    }

    .btn-reviews{
      font-size: 20px;
    }


    
}

@media(max-width:328px){

  .navbar-nav{
    width: 100% !important;
  }


  .navbar-collapse{
    flex-direction: column;
  }

  .btn-pricelist{
    border-radius: 0 0 10px 10px;
  }

  .ben-item{
    width: 100%;
    &:nth-child(-n+3){
      padding-bottom: 30px;
    }
  }

  //Products

  .product_block-description{
    font-size: 11px;
  }

  //Reviews


  .slider-reviews{
    
    .slick-list {
      margin: 0 ;
    }
    
  }

  .btn-reviews{
    padding: 15px 30px;
  }
}
