.intro{
  padding-top: 70px !important;
  width: 100%;
  height:100vh;
  max-height:1500px;
  position: relative;
  background: url("../img/gears-solid.svg") no-repeat right 0 top 0;
}

.intro-basis{
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.intro-title{
  font-family: 'Oswald';
  font-size: 60px;
  line-height: 1.2;
}

.intro-subtitle{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

.img-intro{
  display: none;
  z-index: 5;
  width: 700px;
  position: absolute;

  right:0;
  bottom: 60px;
}

/*
.intro-background{
  z-index: 2;
  position: absolute;
  right:0;
  top:0;
  pointer-events: none;
}
*/




// Swiper intro

.swiper{
  display: none;
  &.swiper-container-initialized {
    display: block;
  }
}


.slider--intro_text{
  height: auto;
  width: 260px;
  pointer-events: none;
}

.intro-basis{
  position: relative;
}

.slider--intro_images{
  margin-left: auto; 
  margin-right: 0;
  width: 60%;
  
  z-index: 10;
  //margin: auto 0;
  pointer-events: none;
}

.slider--intro_images::before{
    content:"";
    display: none;
    width:6px;
    height:100%;

    position:absolute;
    top:0;
    z-index: 3;

    left:0;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}



.slider--intro_image{
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}





/*
.intro{
  padding-top: 160px;
  width: 100%;
  height:100vh;
  max-height:1500px;
  position: relative;
  //background: url("../img/gears-solid.svg") no-repeat right -350px bottom -350px;
}

.intro-basis{
  position: relative;
  height: 100%;
}

.intro-title{
  font-family: 'Oswald';
  font-size: 60px;
  line-height: 1.2;
}

.intro-subtitle{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

.img-intro{
  display: none;
  z-index: 5;
  width: 700px;
  position: absolute;

  right:0;
  bottom: 60px;
}

.intro-background{

  z-index: 2;
  position: absolute;
  right:0;
  top:0;
  pointer-events: none;
}








// Swiper intro

.slider--intro_text{
  height: auto;
  width: 260px;
  pointer-events: none;
}

.intro-basis{
  position: relative;
}

.slider--intro_images{
  width: 50%;
  position: absolute;
  right: 10%;
  bottom:10%;
  z-index: 10;
  margin: auto 0;
  pointer-events: none;
}

.slider--intro_images::before{
    content:"";
    display: block;
    width:6px;
    height:100%;

    position:absolute;
    top:0;
    z-index: 3;

    left:0;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}



.slider--intro_image{
  width: 90%;
  height: auto;
}
*/