
.about{
  color: #fff;
  //padding-bottom: 30px;
  position: relative;
  
  background: $main-color url("../img/angle-double-down.svg") no-repeat left -400px top 0;
  
}

.about--medium{
  display: none;
}

.about-brand{
  font-family: 'Varela Round', cursive;
  font-weight: 400;
  font-size: 70px;
  
}

.about-description{
  font-weight: 200;
  font-size: 30px;
  >span{
    font-weight: 400;
  }
}

.about_svg.top{
  display: block;
}


//Benefits

.benefits{
  background-color: #fff;
  >.row{
    margin: 0;
    padding: 20px 0;
  }
}

.ben-title{
  font-size: 40px;
  font-weight: 400;
}

.ben-item{
  width: 25%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ben-icon{
  width: 100px;
  margin-bottom: 20px;
  transition: .3s all;
  &:hover{
     scale: 1.15;
  }
  img{
    width: 100%;
    display: block;
  }
}


.ben-text{
  font-size: 20px;
  color: #000;
  text-align: center;
}
