.product_block-title{
  font-size: 40px;
}

.product{
  padding: 100px 0;
}

.product_block-description{
  margin-bottom: 30px;
  &.p1{
    text-align: right;
  }
  
  &.p2{
    text-align: left;
  }

}

.product_more-info{
  font-size: 20px;
  padding: 10px 20px;

}

.product-1{
  background: url("../img/truck.svg") no-repeat left 50px bottom -1px;
}

.product-2{
  background: url("../img/auto.svg") no-repeat right 100px bottom -1px, $main-color;
  color: #fff;
}

.product__slider{
  .slick-dots{
    margin-top: 20px;
  }
}