.review{
  background-color: rgba(211, 226, 217, 1);
  border-radius: 5px;
  padding-bottom: 15px;
}

.reviews{
  padding-bottom: 100px;
  padding-top: 100px;

  background:  url("../img/star-half.svg") no-repeat bottom 50px left;
}

.splitter{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 4px;
  background-color: rgb(170, 170, 170);
}

.review_name{
  font-size: 30px;
}

.review_description, .review_content{
  font-size: 23px;
  font-weight: 200;
}

.btn-reviews{
  padding: 15px 70px;
  font-size: 30px;
  font-weight: 400;
}