.reviews{
  padding-bottom: 100px;
  padding-top: 100px;

  background:  url("../img/star-half.svg") no-repeat left;

}

.review{
  background-color: #EDEDED;
  border-radius: 5px;
  padding-bottom: 15px;
  border: 1px solid #000;
  position: relative;
  padding: 50px 10px 10px;
  
}

.review_photo{
  width: 70%;
  border-radius: 50%;
  background-color: #ccc;
  margin-left:0;
  margin-top:-100px;
  margin-bottom: 10px;
}

.splitter{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 2px;
  background-color: $main-color;
  opacity: .4;
  border-radius: 2px;
}

.review_name{
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}

.review_description, .review_content{
  font-size: 20px;
  font-weight: 200;
}

.review_content{
  font-weight: 300;
  font-size: 18px;
}

.btn-reviews{
  padding: 15px 70px;
  font-size: 30px;
  font-weight: 400;
}

.slider-reviews{
  .slick-list{
    padding: 50px 0;
  }
  
  
  .slick-slide {
    margin: 0 100px;
  }
  
  
  .slick-list {
    margin: 0 0px;
  }
  
}

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	
	list-style-type: none;
	
		li {
			margin: 0 0.25rem;
		}
	
		button {
			display: block;
			width: 0.75rem;
			height: 0.75rem;
			padding: 0;
			
			border: none;
			border-radius: 50%;
			background: #888888;
			
			color:transparent;
      font-size: 0;

      cursor: pointer;

      transition: background .2s linear, box-shadow .2s linear; 
		}
	
		li.slick-active button {
      box-shadow: 0 0 0 5px rgba($main-color, .1);
      background: rgba($main-color, .8);
		}
	
}