.request-form{
  z-index: 50;
  background-color: #ECECEC;
  border-radius: 10px 10px 5px 5px;
  height: auto;
  align-self:flex-start;
  padding: 0;
  transition: all .3s linear;
  &.jump{
    &:hover{
      margin-top: -70px;
    }
  }
}

.form-header{
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 20px 30px;
  background-color: $main-color;
  &>.btn-close{
    display: none;
  }
}

.form-title{
  font-weight: 700;
  font-size: 32px;
}

.form-subtitle{
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
}


.form-content{
  padding: 30px 15px 10px;
}

.form-group{
  margin: 0 0 30px;
}

.input{
  font-size: 20px;
  display: block;
  width: 100%;

  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-left: 40px;

  transition: all .2s linear;

  &:focus{
    outline: none;
    border-color: rgba(0, 0, 0, .6);
  }

}

.input-name{
  background: url("../img/person.svg") left 10px top 5px no-repeat;
}

.input-tel{
  background: url("../img/call.svg") left 10px top 5px no-repeat;
}

.input-textarea{
  background: url("../img/message.svg") left 10px top 10px no-repeat;
  resize: vertical;
  min-height: 1em;
  max-height: 10em;
  overflow: auto;
}

.btn-form-submit{
  font-size: 28px;
  padding: 10px 0;
  width: 100%;
  transition: all .2s linear;

}


.about_form{
  margin-top: -20px;
}