.request-form{
  z-index: 50;
  //border-radius: 10px 10px 5px 5px;
  height: auto;
  align-self:flex-start;
  padding: 0;
  transition: all .3s linear;
  &.jump{
    &:hover{
      margin-top: -70px;
    }
  }
}

.form-header{
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 20px 30px;
  background-color: $main-color;
  &>.btn-close{
    display: none;
  }
}

.form-title{
  font-weight: 700;
  font-size: 32px;
}

.form-subtitle{
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
}


.form-content{
  background-color: #ECECEC;
  padding: 30px 15px 10px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(#ececec, .9);
}

.form-group{
  margin: 0 0 30px;
}

.input{
  font-size: 20px;
  display: block;
  width: 100%;

  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-left: 40px;

  transition: all .2s linear;

  &::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, .4);
    opacity: 1; /* Firefox */
  }

  &:focus{
    outline: none;
    border-color: rgba(0, 0, 0, .5);
    &::placeholder{
      color: rgba(0, 0, 0, .3);
    }    
  }

}

.input-name{
  background: url("../img/person.svg") left 10px top 5px no-repeat;
}

.input-tel{
  background: url("../img/call.svg") left 10px top 5px no-repeat;
}


.input-textarea{
  background: url("../img/message.svg") left 10px top 5px no-repeat;
  resize: none;
  min-height: 1em;
  max-height: 10em;
  overflow: hidden;
  transition: all .2s linear;
}


.btn-form-submit{
  font-size: 28px;
  padding: 10px 0;
  width: 100%;
  transition: all .2s linear;

}

.about_form{
  margin-top: -20px;
}

.highlighted_input{
  border-bottom: 1px solid red;
  background-color: #edc0c0;
  border-radius: 3px;
}

.wrongNumber{
  display: none;
  color: #ff2323;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -15px;
  &.show{
    display: block;
  }
}