.modal{
  display: none;

  position: fixed;
  top:0;
  left:0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .9);
  &.show{
    display: block;
  }
}

.modal_inner{
  display: flex;
  justify-content: center;
  min-height: 100%;

}

.modal_content{
  margin: auto;

  position: relative;

  opacity: 0;
  transform: translateY(-100px);
  transition: all .2s ease-out;
}

.form_modal{
  align-self: center;
  max-width: 450px;
  border-radius: 0;
  position: relative;
  &>.form-header{
    border-radius: 0;
    &>.btn-close{
      display: block;
      position: absolute;
      right:5px;
      top:5px;
    }
  }
}

.thanks{
  align-self: center;
  background-color: #fff;
}

.thanks_header{
  padding: 50px;
  width: 100%;
  background-color: $main-color;
  position: relative;
  &>.btn-close{
    position: absolute;
    right: 15px;
    top:15px;
  }
}

.thanks_title{
  font-weight: 400;
  color:$main-color;
  padding: 36px;
}