@media(max-width:1399px){
  .slider-reviews{
 
    .slick-slide {
      margin: 0 60px;
    }
    
    
    .slick-list {
      margin: 0 0px;
    }
    
  }
}

@media(max-width: 1199px){
  .intro{
    padding-top: 130px;
  }

  .intro-background{
    width: 50%;
    right: 0;
    top:0;
  }

  .slider--intro_images::before{
    display: none;
  }


  //About

  .about-description{
    font-size: 25px;
  }


  //Products

  .product_block-description{
    font-size: 21px;
  }


  //Reviews

  .slider-reviews{
    
    .slick-slide {
      margin: 0 40px;
    }
    
    
    .slick-list {
      margin: 0 0px;
    }
    
  }
  

}


@media (max-width: 991px) {
  .navbar-collapse {
    background-color: rgba($color: #000000, $alpha: .8);
    border-radius: 0 0 10px 10px;
  }

  .btn-pricelist{
    box-shadow: none;
    border-radius: 10px 0 0 10px;
    &::after{
      display: none;
    }
  }

  .nav-item.dropdown{
    padding: var(--bs-nav-link-padding-y) 15px;
  }

  .nav-links{
    display: -webkit-box;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .navbar-nav{
    margin-left: 0;
    &:nth-child(1){
      margin: 20px 0;
      margin-right: auto;
      width:50%;
    }
    &:nth-child(2){
      width:50%;
    }
  }


  //Intro

  .intro{
    padding-top: 100px;
  }

  .intro-title{
    font-size:45px;
  }

  .intro-subtitle{
    font-size: 23px;
  }

  .intro-background{
    display: none;
  }

  .intro-basis{
    justify-content: space-evenly;
  }

  .slider--intro_images{
    width: 75%;
  }



  //Form

  .form-header{
    //border: 3px solid #fff; 
    //border-radius: 0;
  }

  .about_form{
    //margin-top: 0;
  }

  
  //About

  .about{
    background-position: center;
  }

  .about--medium{
    display: block;
    margin-top: 100px;
    .about-description{
      font-size: 20px;
    }
  }

  .about-text{
    display: flex;
    flex-direction: row;
    .about-brand{
      display: none;
    }
    
  }

  .about-description{
    font-size: 26px;
    span{
      display: none;
    }
  }


  .about_svg{
    &.top{
      display: block;
    }
  }

  //Product
  
  .product_block-description{
    text-align: center !important;
  }

  .row.prod{
    flex-direction: column-reverse;
  }

  //Reviews

  .reviews{
    background-size: 100% auto;
    background-position: left 0 bottom 50%;
  }

  .review {
    padding: 50px 15px 15px;
  }

  .slider-reviews{
    
    .slick-slide {
      margin: 0 20px;
    }
    
    
    .slick-list {
      margin: 0 -20px;
    }
    
  }
  //Contacts

  .contacts{
    background-size: 110% 110%;
    background-position: left 10% top 10%;
  }

  .contacts_description{
    font-size: 18px;
  }

  .contact_button{
    display: none;
  }

}

@media(max-width:767px){
  //Intro

  .intro-subtitle{
    font-weight: 200;
  }

  .slider--intro_text{
    width: 220px;
  }

  .slider--intro_images{
    width: 100%;
    .swiper-slide{
      display: flex;
    }
  }

  .slider--intro_image{
    margin: 0 auto;
  }


  //About

  .about--medium{
    display: none;
  }

  .about-description{
    font-size: 20px;
  }

  //Benefits

  .ben-item{
    width: 50%;
    padding-bottom: 30px;
    &:nth-child(n+2){
      padding-bottom: 0;
    }
  }


  //Products

  .product__slider{
    padding: 40px 0 20px;
  }

  .product{
    padding:50px;
  }

  .product_block-description{
    font-size: 20px;
    text-align: center !important;
    margin-bottom: 20px;
  }

  .product_block-title.main{
    display: none;
  }

  .product_text{
    display: none;
    background: rgba($main-color, .04);
    box-shadow: -20px 20px rgba(0,0,0,.15);
    padding: 25px;
  }

  .accordion{
    display: block;
  }

  .prod>.product_text{
    background: rgba(#fff, .07);
    box-shadow: 20px 20px rgba(#fff,.15);
    padding: 25px;
  }

  .product{
    background-image: none !important;
  }


  //Contacts

  .contacts_description{
    font-size: 20px;
  }
}

@media(max-width: 577px){
  .section_title{
    font-size: 30px;
  }


  //Intro

  .intro-title{
    font-size: 40px;
  }

  .slider--intro_text{
    width: 180px;
  }

  .intro-subtitle{
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .slider--intro_images{
    bottom:30px;
    right:0;
    width: 100%;
    
  }

  //Form

  .form-title{
    font-weight: 700;
    font-size: 24px;
  }
  
  .form-subtitle{
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
  }
  
  
  .form-group{
    >input::placeholder {
      font-size: 16px;
    }
    
    >textarea::placeholder{
      font-size: 16px;
    }
  }

  

  //About

  .about-description{
    font-size: 18px;
  }

  .ben-text{
    font-size: 15px;
  }


  //Products
  
  .product-1, 
  .product-2{
    background-size: 100% auto;
    background-position: left 0 bottom 0;
  }

  .product_block-title{
    font-size: 28px;

  }

  .product_block-description{
    font-size: 18px;
  }

  //reviews

  .slider-reviews{
    
    .slick-list {
      margin: 0 100px;
    }
    
  }

  //Contacts

  
  .contacts{
    padding-bottom: 70px;
  }

  .contacts_description{
    font-size: 18px;
  }
}

@media(max-width:476px){
    //Intro

    .intro-basis{
      justify-content: space-around;
    }

    .intro-text{
      display: flex;
      flex-direction: column-reverse;
    }

    .intro-title{
      flex-direction: column;
      align-items: flex-start;
      font-size: 36px;
      
    }

  
    .slider--intro_text{
      width: 160px;
      text-align: left;
    }
  
    .intro-subtitle{
      text-align: right;
      margin-top: 10px;
      font-size: 17px;
    }



    //About us

    .about-description{
      font-size: 16px;
    }

    //reviews

    .review_content{
      font-size: 16px;
    }

    .slider-reviews{
      
      .slick-list {
        margin: 0 40px;
      }
      
    }

    .btn-reviews{
      font-size: 20px;
    }
}

@media(max-width:328px){

  .navbar-nav{
    width: 100% !important;
  }


  .navbar-collapse{
    flex-direction: column;
  }

  .btn-pricelist{
    border-radius: 0 0 10px 10px;
  }

  .ben-item{
    width: 100%;
    &:nth-child(-n+3){
      padding-bottom: 30px;
    }
  }


  //Reviews


  .slider-reviews{
    
    .slick-list {
      margin: 0 ;
    }
    
  }

  .btn-reviews{
    padding: 15px 30px;
  }
}
